[mysqld]

binlog_format = mixed
#设置日志格式

log-bin = /var/lib/mysql/mysql-bin.log
#设置日志路径，注意路经需要mysql用户有权限写

binlog_expire_logs_seconds = 3600
#expire_logs_days = 1
#设置binlog清理时间

max_binlog_size = 100m
#binlog每个日志文件大小

binlog_cache_size = 4m
#binlog缓存大小

max_binlog_cache_size = 512m
#最大binlog缓存大小

skip-log-bin
#不使用日志

default-time-zone='+08:00'
#默认时区
